.header {
	z-index: 9999;
	height: 65px;
	background-color: #090b13;
}

.headerLogoImage {
	width: 80px;
}

.headerMenuOption {
	position: relative;

	&:hover {
		&:before {
			width: 100%;
		}
	}

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -5px;
		transform: translateX(-50%);
		width: 0px;
		height: 1px;
		background-color: var(--primary);
		border-radius: 5px;
		transition-duration: 300ms;
	}
}

.headerMenuOptionIcon {
	font-size: 19px;
}

.headerLoginButton {
	border: 1px solid var(--primary);

	&:hover {
		color: #090b13;
		background-color: var(--primary);
	}
}
